/* --------------------
  HEADLINES PLACEHOLDERS
----------------- */
%headline-1-fs {
  font-size: $dsk-headline--1;

  @include respond(laptops) {
    font-size: $lap-headline--1;
  }

  @include respond(xl) {
    font-size: $xl-headline--1;
  }

  @include respond(lg) {
    font-size: $ipro-headline--1;
  }

  @include respond(xs) {
    font-size: $mob-headline--1;
  }
}

%article-headline-1-fs {
  font-size: $dsk-article-headline-1;

  @include respond(laptops) {
    font-size: $lap-article-headline-1;
  }

  @include respond(xl) {
    font-size: $xl-article-headline-1;
  }

  @include respond(lg) {
    font-size: $ipro-article-headline-1;
  }

  @include respond(md) {
    font-size: $ip-article-headline-1;
  }

  @include respond(xs) {
    font-size: $mob-article-headline-1;
  }
}

/* --------------------
    Parahraphs
----------------- */
%para-1-fs {
  font-size: $dsk-article-paragraph-1;

  @include respond(laptops) {
    font-size: $lap-article-paragraph-1;
  }

  @include respond(xl) {
    font-size: $xl-article-paragraph-1;
  }

  @include respond(lg) {
    font-size: $ipro-article-paragraph-1;
  }

  @include respond(md) {
    font-size: $ip-article-paragraph-1;
  }

  @include respond(xs) {
    font-size: $mob-article-paragraph-1;
  }
}

%fs-handler {
  /* --------------------
      HEADLINES
  ----------------- */

  & *[class*="-h--1"] {
    @extend %headline-1-fs;
  }

  /* --------------------
    Article Headlines
  ----------------- */
  & *[class*="-ah--1"] {
    @extend %article-headline-1-fs;
  }

  /* --------------------
      Paragraphs
  ----------------- */
  & *[class*="-p--1"] {
    @extend %para-1-fs;
  }
}

div,
section,
article {
  @extend %fs-handler;
}
